<template>
  <div ref="container" class="main-testing">
    <!-- {{ formUser }} -->
    <div class="main-testing__open">
      <h1 style="font-weight: bold; color: #f16522">
        CHÚC MỪNG BẠN ĐÃ HOÀN THÀNH BÀI KIỂM TRA!
      </h1>
    </div>
    <div class="main-testing__title">
      <h3 style="font-weight: bold">
        Vui lòng điền thông tin dưới đây để nhận kết quả và đánh giá trình độ của bạn:
      </h3>
      <em>(Mọi thông tin đều bắt buộc nhập)</em>
    </div>
    <div class="main-testing__body">
      <div style="margin-bottom: 2em">
        <a-row>
          <a-col :sm="8" :offset="2">
            <a-form class="form-user">
              <div v-for="key in Object.keys(formUser)" :key="key">
                <a-form-item
                  v-if="!formUser[key].noShow"
                  :validate-status="formUser[key].status"
                  :help="formUser[key].help"
                >
                  <a-input :addon-before="formUser[key].label" v-model="formUser[key].value" />
                </a-form-item>
              </div>
            </a-form>
          </a-col>
        </a-row>
      </div>
      <h2>
        ĐIỂM IELTS MỤC TIÊU CỦA BẠN LÀ BAO NHIÊU ?
      </h2>
      <span class="status-error">{{ formUser.ielts.help }}</span>
      <div style="margin: 1em 0">
        <a-row>
          <a-col :span="6" v-for="(o, idx1) in ielts.opt" :key="idx1">
            <a-checkbox v-model="o.checked" @change="checked(ielts, idx1, o.text)">
              {{ o.text }}
            </a-checkbox>
          </a-col>
        </a-row>
      </div>
      <h2>
        BẠN Ở GẦN CƠ SỞ JOLO NÀO NHẤT ?
      </h2>
      <span class="status-error">{{ formUser.address.help }}</span>
      <div style="margin: 1em 0">
        <a-row>
          <a-col :span="12" v-for="(o, idx2) in address.opt" :key="idx2" style="margin-bottom: 5px">
            <a-checkbox v-model="o.checked" @change="checked(address, idx2, o.value, o.text)">
              {{ o.text }}
            </a-checkbox>
          </a-col>
        </a-row>
      </div>
    </div>
    <div style="text-align: center">
      <BtnCustom @click="checkTesting" class="btn-custom">
        <template slot:before>
          <div style="position: absolute;height: 100%;top: 0;left: 0px;">
            <img src="~/static/img/i-a.png" style="height: 100%;float: left;">
          </div>
        </template>
        <div style="padding-left: 2.2em;font-weight: 600;">
          NHẬN KẾT QUẢ BÀI TEST
        </div>
      </BtnCustom>
    </div>
  </div>
</template>

<script>
import BtnCustom from '~/components/items/BtnCustom'

export default {
  components: {
    BtnCustom
  },
  data () {
    return {
      formUser: {
        name: {
          value: null,
          label: 'Họ và Tên'
        },
        email: {
          value: null,
          label: 'Email',
          rule: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
          ruleHelp: 'Email không chính xác'
        },
        sdt: {
          value: null,
          label: 'Số ĐT',
          rule: /^(03|09|01[2|6|8|9])+([0-9]{8})\b/,
          ruleHelp: 'Mẫu số điện thoại không chính xác.'
        },
        ielts: {
          noShow: true,
          value: null
        },
        location: {
          noShow: true,
          value: null
        },
        address: {
          noShow: true,
          value: null
        }
      },
      ielts: {
        key: 'ielts',
        opt: [
          { text: '5.0 trở xuống' },
          { text: '5.5 - 6.0' },
          { text: '6.5 trở lên' }
        ]
      },
      address: {
        key: 'location',
        opt: [
          { text: 'Số 1, ngõ 128 Thuỵ Khuê, Hà Nội', value: 'NTD_TK' },
          { text: 'Số 27 Trần Đại Nghĩa, Hà Nội', value: 'TDN' },
          { text: 'Số 4, ngõ 54 Nguyễn Thị Định, Hà Nội', value: 'NTD_TK' },
          { text: 'Số 7, đường số 2, Cư Xá Đô Thành, P.4, Q.3, TP.HCM', value: 'Q3' },
          { text: 'Số 2, tầng 1, toà C2, Vinhomes Central Park, P.22, Q.Bình Thạnh, TP.HCM', value: 'TC' }
        ]
      }
    }
  },
  methods: {
    checked (data, oidx, value, value2) {
      data.opt.forEach((el, idx) => {
        this.$set(el, 'checked', idx === oidx)
      })
      this.formUser[data.key].value = value
      if (data.key === 'location') {
        this.formUser.address.value = value2
      }
    },
    checkTesting () {
      const info = {}
      for (const k in this.formUser) {
        const value = this.formUser[k].value
        const rule = this.formUser[k].rule
        const checked = !value || (rule && !rule.test(value))
        const status = checked ? 'error' : null
        const help = checked ? this.formUser[k].ruleHelp || '*Yêu cầu nhập thông tin.' : null
        this.$set(this.formUser[k], 'status', status)
        this.$set(this.formUser[k], 'help', help)
        if (!checked) {
          info[k] = this.formUser[k].value
        }
      }
      if (Object.keys(info).length === 6) {
        this.$_setCookies('userInfo', info)
        this.$router.push({ path: '/kiem-tra/ket-qua' })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.main-testing {
  background: white;
  padding: 2em;
  .main-testing__open{
    margin-top: 3em;
    border-bottom: 0.5px solid;
  }
}
.main-testing__title{
  margin: 1.5em 0;
  h3 {
    margin-bottom: unset!important
  }
  em {
    color: #f16522
  }
}
.main-testing__body ::v-deep {
  margin: 1em 0;
  .form-user {
    .ant-form-item {
      margin-bottom: 14px!important;
    }
    .ant-input-group-addon {
      width: 86px;
      background-color: #c7c7c7
    }
  }
  h2 {
    margin-bottom: unset!important
  }
  h2::before {
    display: inline-block;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    margin: 0px 10px 5px 0;
    background-color: #f16522;
  }
}
.btn-custom{
  background: #f16522
}
.status-error{
  color: red
}
</style>
