<template>
  <div ref="container" class="main-testing">
    <!-- {{ totalPoint }} -->
    <div class="main-testing__open">
      <h3 style="font-weight: bold; color: #f16522">
        BÀI KIỂM TRA ĐẦU VÀO
      </h3>
    </div>
    <a-row type="flex" style="margin: 2em 0">
      <a-col :span="6" :offset="6" class="text-center">
        <a @click="changeTest('reading')">
          <div class="reading">
            <span :style="keyTest === 'reading' ? `background: #f16522; color: white` : ''">1</span>
            <h2 :style="keyTest === 'reading' ? `color: #1b1a1b` : ''">READING</h2>
          </div>
        </a>
      </a-col>
      <a-col :span="6" class="text-center">
        <a @click="changeTest('listening')">
          <div class="listening">
            <span :style="keyTest === 'listening' ? `background: #f16522; color: white` : ''">2</span>
            <h2 :style="keyTest === 'listening' ? `color: #1b1a1b` : ''">LISTENING</h2>
          </div>
        </a>
      </a-col>
    </a-row>
    <div class="progress-test">
      <a-affix>
        <a-progress :percent="percent" :showInfo="false" stroke-color="#f16522" />
      </a-affix>
    </div>
    <client-only>
      <div style="margin-top: 3em">
        <div v-if="keyTest === 'reading'">
          <Reading @setPoint="setPoint" />
        </div>
        <div v-if="keyTest === 'listening'">
          <Listening @setPoint="setPoint" />
        </div>
      </div>
    <!-- <div class="complete-testing">

    </div> -->
    </client-only>
    <div class="action-btns">
      <a-button
        ref="nextTab"
        @click="nextTab"
        size="large"
        style="width: 8em;"
      >
        {{ keyTest === 'reading' ? 'Tiếp theo' : 'Trở lại' }}
      </a-button>
      <a-button
        v-if="keyTest === 'listening'"
        @click="completeTesting"
        size="large"
        style="width: 8em;background: #f16522; color: #fff"
      >
        Hoàn thành
      </a-button>
    </div>
    <div>
      <a-affix :offsetBottom="10" :style="{ position: 'absolute', right: '1em' }">
        <CountDown ref="countdown" @handleTimeDown="handleTimeDown" />
      </a-affix>
    </div>
  </div>
</template>

<script>
import Reading from '~/components/tests/Reading'
import Listening from '~/components/tests/Listening'
import CountDown from '~/components/items/CountDown'
// import BtnCustom from '~/components/items/BtnCustom'

export default {
  components: {
    Reading,
    Listening,
    CountDown
    // BtnCustom
  },
  data () {
    return {
      keyTest: 'reading',
      totalPoint: 0,
      level: null,
      percent: 0
    }
  },
  mounted () {
    // console.log(this)
  },
  methods: {
    changeTest (prop) {
      this.keyTest = prop
      // this.$refs.countdown.resetTimer()
      // this.totalPoint = 0
    },
    handleTimeDown (e) {
      this.percent = Number(e.percent)
      if (e.timeleft === 0) {
        this.setLevel(this.totalPoint)
        this.setToCookies({ level: this.level, totalPoint: this.totalPoint })
        this.$router.push({ path: '/kiem-tra/hoan-tat' })
      }
    },
    setPoint (e) {
      const p = this.totalPoint + e
      if (p >= 0) {
        this.totalPoint = p
      }
    },
    completeTesting (e) {
      this.setLevel(this.totalPoint)
      this.setToCookies({ level: this.level, totalPoint: this.totalPoint })
      this.$router.push({ path: '/kiem-tra/hoan-tat' })
    },
    setLevel (p) {
      switch (true) {
        case p < 14:
          this.level = 'A1'
          break
        case p >= 14 && p <= 16:
          this.level = 'A2'
          break
        case p >= 17 && p <= 19:
          this.level = 'B1'
          break
        case p >= 20 && p <= 21:
          this.level = 'B2'
          break
        case p >= 22 && p <= 23:
          this.level = 'C1'
          break
        case p >= 24:
          this.level = 'C2'
          break
      }
    },
    setToCookies (o) {
      this.$_setCookies('userInfo', o)
    },
    nextTab (e) {
      this.keyTest = this.keyTest === 'reading' ? 'listening' : 'reading'
      e.target.blur()
    }
  }
}
</script>

<style lang="scss" scoped>
.main-testing {
  background: white;
  padding: 2em;
  position: relative;
}
.main-testing__open{
  border-bottom: 0.5px solid;
}
.complete-testing{
  text-align: center
}
.reading, .listening {
  display: flex;
  align-items: center;
  span {
    // background: #f16522;
    color: #f16522;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 10px
  }
  h2 {
    color: #868586;
    margin: 0;
    font-weight: 700;
  }
}
.progress-test ::v-deep {
  .ant-progress-inner {
    border-radius: unset!important;
  }
  .ant-progress-bg{
    border-radius: unset!important;
    height: 20px!important;
  }
}
.count-down {
  position: fixed;
  bottom: 1em;
  right: 21em;
}
</style>
