<template>
  <div class="main-result">
    <div class="main-title">
      <div class="title">
        Chúc mừng bạn {{ info.name }} đã hoàn thành kiểm tra trình độ
      </div>
      <div class="title">
        theo khung tiêu chuẩn Ngôn Ngữ Châu Âu CEFR!
      </div>
      <div style="margin-top: 1em" />
    </div>

    <div class="main-body">
      <p>
        Số câu tra lời đúng: <span>{{ info.totalPoint }}</span>
      </p>
      <p>
        Kết quả bài test cho thấy bạn đang ở trình độ: <span>{{ info.level }}</span>
      </p>
      <div class="ask">
        Bạn có muốn đặt lịch kiểm tra kỹ năng Nói - Viết trực tiếp với giáo viên nước ngoài không ?
      </div>

      <div>
        <a-button @click="agree(false)" size="large">
          Không
        </a-button>
        <span style="margin: 0 1.2em" />
        <a-button @click="agree(true)" size="large">
          Có
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {
    info () {
      return this.$storage.getCookie('userInfo') || {}
    }
  },
  methods: {
    agree (e) {
      this.$router.push({ path: e ? '/dat-lich-test' : '/lo-trinh' })
    }
  }
}
</script>

<style lang="scss" scoped>
.main-result{
  background: white;
  padding: 2em;
}
.main-title{
  margin-bottom: 1em;
  border-bottom: 0.5px solid;
  .title{
    font-size: 18px;
    font-weight: 700
  }
}
.main-body ::v-deep {
  p {
    margin-bottom: 0em;
    font-size: 16px;
    font-weight: 700
  }
  .ask{
    margin: 1.5em 0;
    font-size: 16px;
    font-weight: 700;
    color: #f16522
  }
  .ant-btn{
    border-radius: 10px;
    width: 5em;
    font-weight: 700;
    font-size: 20px;
    border-color: #f16522;
    // :hover, :focus, :active, .active{
    //   background: #f16522
    // }
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
    color: #fff;
    background: #f16522
  }
  .ant-btn:active, .ant-btn.active {
    color: #fff;
  }
}
</style>
