<template>
  <div class="main">
    <!-- {{ info }} -->
    <div class="main-title">
      <h2>
        Yêu cầu thông tin chi tiết của bạn đã được thực hiện thành công!
      </h2>
    </div>
    <div>
      <div style="margin: 1em 0">
        <a-row class="ttv">
          <a-col :span="4">
            Ngày nhận tư vấn:
          </a-col>
          <a-col :span="20">
            <span>Ngày {{ `${info.ngayTuVan.day}/${info.ngayTuVan.month}/${info.ngayTuVan.year}` }}</span>
          </a-col>
        </a-row>
        <a-row class="ttv">
          <a-col :span="4">
            Giờ nhận tư vấn:
          </a-col>
          <a-col :span="20">
            <span>{{ `${info.ngayTuVan.time}` }}</span>
          </a-col>
        </a-row>
      </div>
      <div style="font-size: 1.4em;font-weight: 700;">
        Chúng tôi sẽ gọi điện cho bạn vào khung giờ trên để cung cấp chi tiết về lộ trình học phù hợp và mức ưu đãi hợp nhất dành cho bạn. Cảm ơn bạn!
      </div>
      <div class="action-btns" style="margin: 2.5em 0;">
        <a-button
          @click="backToHome"
          size="large"
          style="width: 15em;"
        >
          Quay lại trang chủ
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import _cloneDeep from 'lodash/cloneDeep'

export default {
  data () {
    return {
    }
  },
  computed: {
    info () {
      return this.$storage.getCookie('userInfo') || {}
    }
  },
  mounted () {
    const info = _cloneDeep(this.info)
    info.ngayTuVan = `${info.ngayTuVan.time}, Ngày ${info.ngayTuVan.day}/${info.ngayTuVan.month}/${info.ngayTuVan.year}`
    this.$_setToSheet(1, info, ['level', 'totalPoint', 'name', 'email', 'sdt', 'ielts', 'address', 'ngayTuVan'])
  },
  methods: {
    backToHome () {
      this.$router.push({ path: `/?source=jolo.edu.vn` })
    }
  }
}
</script>

<style lang="scss" scoped>
.main {
  margin: 3em 0 0 0
}
.main-title {
  border-bottom: 0.5px solid;
  h2{
    margin-bottom: 0em;
    font-weight: 700
  }
}
.ttv{
  font-size: 1.2em;
  font-weight: 700;
  span {
    color: #f16522;
  }
}
</style>
