<template>
  <div class="main">
    <div class="main-body">
      <div style="font-size: 1.2em; font-weight: 700; margin: 1em 0">
        Bạn vui lòng chọn Thời gian đặt lịch kiểm tra kỹ năng Nói - Viết.
      </div>
      <div style="align-items: center; margin: 2em 0">
        <div class="flexs pick-time">
          <div>
            <span class="t">Thời gian:</span>
            <a-time-picker
              v-model="time.tmp"
              @change="coverTime"
              :allowClear="false"
              format="HH:mm"
              placeholder="_ _:_ _"
              style="width: 100px"
            />
          </div>
          <div style="padding-left: 4em;">
            <span class="t">Ngày:</span>
            <span v-for="(key, idx) in Object.keys(date)" :key="idx">
              <a-select v-model="date[key].value" :placeholder="key === 'year' ? '_ _ _ _': '_ _'" :style="key === 'year' ? `width: 120px`: `width: 100px`">
                <a-icon slot="suffixIcon" type="caret-down" style="margin-top: 8px;" />
                <a-select-option :value="item" v-for="(item, iIdx) in date[key].items" :key="iIdx">
                  {{ item }}
                </a-select-option>
              </a-select>
              {{ Object.keys(date).length !== (idx+1) ? '/': '' }}
            </span>
          </div>
        </div>
        <div v-html="error" class="status-error" />
      </div>
      <div>
        <div class="action-btns">
          <a-button
            @click="submit"
            size="large"
            style="width: 15em;"
          >
            Xác nhận & Đặt lịch
          </a-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data () {
    return {
      error: '',
      time: {
        value: null,
        tmp: undefined
      },
      date: {
        day: {
          value: undefined,
          items: this.setListDate(moment(moment().format('YYYY-MM'), 'YYYY-MM').daysInMonth())
        },
        month: {
          value: undefined,
          items: this.setListDate(12)
        },
        year: {
          value: undefined,
          items: ['2020', '2021', '2022', '2023', '2024']
        }
      }
    }
  },
  watch: {
    'date.month.value' (v) {
      if (!v) {
        return
      }
      const year = this.date.year.value || moment().format('YYYY')
      this.date.day.items = this.setListDate(moment(`${year}-${v}`, 'YYYY-MM').daysInMonth())
      // this.date.day.items = v === 2 ? this.setListDate(28) :
    },
    'date.year.value' (v) {
      if (!v) {
        return
      }
      const month = this.date.month.value || moment().format('MM')
      this.date.day.items = this.setListDate(moment(`${v}-${month}`, 'YYYY-MM').daysInMonth())
      // this.date.day.items = v === 2 ? this.setListDate(28) :
    }
  },
  methods: {
    moment,
    setListDate (length) {
      const items = []
      for (let i = 0; i < length; i++) {
        const num = i + 1
        items.push(num >= 10 ? `${num}` : `0${num}`)
      }
      return items
    },
    coverTime (e) {
      this.time.value = e.format('HH:MM')
    },
    submit () {
      const obj = { ...{ time: this.time }, ...this.date }
      const info = {}
      for (const k in obj) {
        const value = obj[k].value
        if (value) {
          info[k] = obj[k].value
        }
      }
      if (Object.keys(info).length !== 4) {
        this.error = `*Trường <span style="text-decoration: underline;font-weight: 700">Thời gian</span> hoặc <span style="text-decoration: underline;font-weight: 700">Ngày</span> chưa điền đủ.`
        return
      }
      const time = `${info.year}-${info.month}-${info.day} ${info.time}`
      const timeNow = moment().add(20, 'minutes').format('YYYY-MM-DD HH:MM')
      if (time < timeNow) {
        this.error = `*Thời gian đặt lịch không được nhỏ hơn thời gian hiện tại. Thời gian hiện tại: ${timeNow}`
        return
      }
      this.$_setCookies('userInfo', { ngayTest: info })
      this.$router.push({ path: '/dat-lich-test/xac-nhan' })
    }
  }
}
</script>

<style lang="scss" scoped>
.main {
  margin: 3em 0 0 0
}
.main-body {
  text-align: center;
}
.action-btns ::v-deep {
  .ant-btn{
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  border-color: #f16522;
  // :hover, :focus, :active, .active{
  //   background: #f16522
  // }
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
    color: #fff;
    background: #f16522
  }
  .ant-btn:active, .ant-btn.active {
    color: #fff;
  }
}
.pick-time {
  justify-content: center;
  .t {
    font-size: 1.2em;
    font-weight: 700;
    padding: 0 10px;
  }
}

.status-error{
  color: red;
}
</style>
