<template>
  <div class="main">
    <!-- {{ info }} -->
    <div class="main-title">
      <h2>
        Yêu cầu thông tin chi tiết của bạn đã được thực hiện thành công!
      </h2>
    </div>
    <div>
      <div style="margin: 1em 0">
        <a-row class="ttv">
          <a-col :span="4">
            Địa điểm:
          </a-col>
          <a-col :span="20">
            <span>JOLO English - {{ info.address }}</span>
          </a-col>
        </a-row>
        <a-row class="ttv">
          <a-col :span="4">
            Thời gian:
          </a-col>
          <a-col :span="20">
            <span v-if="info.ngayTest">{{ `${info.ngayTest.time}` }}, Ngày {{ `${info.ngayTest.day}/${info.ngayTest.month}/${info.ngayTest.year}` }}</span>
          </a-col>
        </a-row>
        <a-row class="ttv">
          <a-col :span="4">
            Số điện thoại đặt lịch:
          </a-col>
          <a-col :span="20">
            <span>{{ info.sdt }}</span>
          </a-col>
        </a-row>
        <div style="font-weight: 600;">
          (Bạn vui lòng đọc số điện thoại này cho Tư vấn viên tại JOLO khi đến test để được miễn phí kiểm tra kỹ năng với Giáo viên Nước ngoài)
        </div>
      </div>
      <div style="font-size: 1.4em;font-weight: 700;">
        Chúng tôi sẽ gọi điện cho bạn vào khung giờ trên để cung cấp chi tiết về lộ trình học phù hợp và mức ưu đãi hợp nhất dành cho bạn. Cảm ơn bạn!
      </div>
      <div class="action-btns" style="margin: 2.5em 0;">
        <a-button
          @click="backToHome"
          size="large"
          style="width: 15em;"
        >
          Quay lại trang chủ
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import _cloneDeep from 'lodash/cloneDeep'
export default {
  data () {
    return {
    }
  },
  computed: {
    info () {
      return this.$storage.getCookie('userInfo') || {}
    }
  },
  mounted () {
    const info = _cloneDeep(this.info)
    info.ngayTest = `${info.ngayTest.time}, Ngày ${info.ngayTest.day}/${info.ngayTest.month}/${info.ngayTest?.year}`
    this.$_setToSheet(2, info, ['level', 'totalPoint', 'name', 'email', 'sdt', 'ielts', 'address', 'ngayTest'])
  },
  methods: {
    backToHome () {
      this.$router.push({ path: `/?source=jolo.edu.vn` })
    }
  }
}
</script>

<style lang="scss" scoped>
.main {
  margin: 3em 0 0 0
}
.main-title {
  border-bottom: 0.5px solid;
  h2{
    margin-bottom: 0em;
    font-weight: 700
  }
}
.ttv{
  font-size: 1.2em;
  font-weight: 700;
  span {
    color: #f16522;
  }
}
</style>
