@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');
body {
  height:100%; 
  padding:0; 
  margin:0; 
  position:relative;
}
a {
  color: unset!important;
}
.container {
  width: 100%!important;
  max-width: 1280px!important;
  margin: 0 auto;
  padding: 1px 2em 1em 2em;
}

.flexs {
	flex: 1 1 auto;
	display: -webkit-flex;
	display: flex
}

.text-center {
  text-align: center;
}

.text-orange {
  color: #f16522;
}
.bg-orange {
  background-color: #f16522;
}

.text-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.ant-modal-body{
  padding: 0px!important;
}
.ant-card-bordered{
  border: unset!important;
}
.ant-time-picker-icon{
  display: none;
}
.ant-time-picker-clear{
  display: none;
}
.action-btns {
  text-align: center;
  .ant-btn{
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  border-color: #f16522;
  // :hover, :focus, :active, .active{
  //   background: #f16522
  // }
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
    color: #fff;
    background: #f16522
  }
  .ant-btn:active, .ant-btn.active {
    color: #fff;
  }
}