<template>
  <a-layout style="background: #fff;">
    <a-layout-header class="header">
      <div class="container">
        <div class="logo">
          <img style="width: 100%;" src="https://w.ladicdn.com/s550x350/58c27732ed5523a4488b5b7a/logo-2-1508153664043-min-1519618176.png" alt="logo">
        </div>
      </div>
    </a-layout-header>
    <a-layout-content style="background-color: #f5f5f5;">
      <div class="container" style="background-color: #fff;min-height: calc(100vh - 214px);">
        <nuxt />
      </div>
    </a-layout-content>
    <a-layout-footer class="footer">
      <div class="container">
        Copyright 2020 by JOJO
      </div>
    </a-layout-footer>
  </a-layout>
</template>

<style>
.logo {
  width: 250px;
  float: left;
}
.header{
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  z-index: 1;
}
.footer{
  /* position: absolute;
  bottom: 0; */
  height: 150px;
  padding: 1rem;
  width:100%;
  background-color: #d6d6d6;
}
</style>
