<template>
  <div>
    <a-row type="flex" justify="space-around" align="middle" style="margin-top:2em">
      <a-col :span="12">
        <div class="home-ask">
          BẠN MUỐN BIẾT <br>
          TRÌNH ĐỘ TIẾNG ANH  <br>
          CỦA MÌNH NẰM Ở MỨC ĐỘ NÀO
          THEO TIÊU CHUẨN CHÂU ÂU?
        </div>
        <div class="home-description">
          Làm ngay bài kiểm tra được thiết kế theo chương trình của Đại học <br>
          Cambridge và nhận đánh giá chính xác về trình độ ngoại ngữ hiện tại  <br>
          của bạn.
        </div>
        <div style="margin: 1em 0">
          <BtnCustom class="btn-custom" to="/kiem-tra">
            <template slot:before>
              <div style="position: absolute;height: 100%;top: 0;left: 0px;">
                <img src="~/static/img/i-a.png" style="height: 100%;">
              </div>
            </template>
            <div style="padding-left: 2.2em;">
              BẮT ĐẦU KIỂM TRA
            </div>
          </BtnCustom>
        </div>
      </a-col>
      <a-col :span="12" style="height: 500px; align-items: center;" class="flexs">
        <div>
          <img src="~/static/img/jojo-banner.png" alt="" style="width: 100%">
        </div>
      </a-col>
    </a-row>
    <div class="flexs note">
      <div>
        <h4 style="margin-bottom: 0em;color: #f16522">
          Lưu ý:
        </h4>
      </div>
      <span>
        Bài kiểm tra có tổng cộng 24 câu
      </span>
      <span>
        Vui lòng làm hết bài test để chúng tôi có thể đánh giá chính xác trình độ của bạn.
      </span>
    </div>
  </div>
</template>

<script>
import BtnCustom from '~/components/items/BtnCustom.vue'

export default {
  components: {
    BtnCustom
  }
}
</script>

<style lang="scss" scoped>
.home-ask{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #f56935
}
.home-description{
  font-size: 1.2em;
  font-weight: 700;
  margin: 5px 0;
  color: #86827c;
}
.img{
    width: 400px;
    height: 400px;
    background: rgba(56, 193, 234, 0.2);
    margin: 16px 28px 16px 0;
}
.btn-custom{
  background: #f16522
}
.note{
  align-items: center;
  span{
    &:before{
      content:"• ";
      color: #f16522;
      font-size: 1.2em
    }
    color: #6d6d6d;
    font-weight: bold;
    padding: 0em 2em
  }
}
</style>
