<template>
  <div class="main-lotrinh">
    <a-modal v-model="modal" :closable="false" :footer="null" class="main-modal" width="580px">
      <div>
        <a-card hoverable style="padding: 0">
          <img
            slot="cover"
            alt="example"
            src="/img/km.jpg"
          >
          <div style="padding: 0 2.5em">
            <div class="title-info" style="font-size: 1.5em;">
              Chào <span>{{ info.name }}</span>, Tư vấn viên của JOLO có mức ưu đãi đặc biệt dành riêng cho bạn
            </div>
            <div class="title-info" style="font-size: 1.5em;">
              <span>Bạn có muốn trao đổi với tư vấn viên để nhận Ưu đãi này không ?</span>
            </div>
            <div class="action-btns" style="margin: 1.4em 0;">
              <a-button @click="backToHome" size="large" style="width: 5em;">
                không
              </a-button>
              <span style="margin: 0 1.2em" />
              <a-button @click="$router.push({path:'/tu-van-lo-trinh'})" size="large" style="width: 5em;">
                Có
              </a-button>
            </div>
          </div>
        </a-card>
      </div>
    </a-modal>
    <div class="title-info" style="margin: 1.5em 0;">
      Với trình độ <span>{{ info.level }}</span> hiện tại, để đạt số điểm mục tiêu <span>{{ info.ielts }}</span>, lộ trình học tại JOLO của bạn như sau :
    </div>
    <div class="main-body">
      <div style="padding: 0em 4em">
        <a-table :columns="columns" :dataSource="list" :pagination="false" row-key="key" bordered>
          <template slot="name" slot-scope="text">
            <a>{{ text }}</a>
          </template>
        </a-table>
      </div>
      <div class="title-info" style="margin: 1.5em 0;">
        Với lộ trình như trên, bạn có thể tham gia <span>Chương trình Trả góp học phí - Lãi suất 0 Đồng - Kỳ hạn tới 12 tháng</span> và vẫn được áp cụng đồng thời với các <span>Chương trình Ưu đãi Early Bird lên tới 30% học phí</span> và <span>Ưu đãi Đăng ký Lộ trình.</span>
      </div>
      <div class="action-btns" style="margin: 2.5em 0;">
        <a-button
          @click="modal = true"
          size="large"
          style="width: 15em;"
        >
          Quay lại trang chủ
        </a-button>
        <span style="margin: 0 1.2em" />
        <a-button @click="$router.push({path:'/tu-van-lo-trinh'})" size="large" style="width: 15em;">
          Nhận thông tin chi tiết
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import dataLevel from '~/json/data_level.json'

export default {
  data () {
    return {
      dataLevel,
      modal: false,
      columns: [
        {
          title: 'STT',
          dataIndex: 'key',
          // attrs: {
          //   style: 'border-bottom: none'
          // },
          customHeaderCell: (column) => {
            return {
              children: column.text,
              attrs: {
                style: 'background: #f16522; color: #fff; border-right: none; text-align: center; font-weight: 700'
              }
            }
          },
          customRender: (text, row, index) => {
            if (this.list.length !== (index + 1)) {
              return {
                children: text,
                attrs: {
                  style: 'border-bottom: none; text-align: center; font-weight: 700'
                }
              }
            }
            return {
              attrs: {
                colSpan: 0
              }
            }
          }
        },
        {
          title: 'Khóa học',
          dataIndex: 'khoahoc',
          customHeaderCell: (column) => {
            return {
              children: column.text,
              attrs: {
                style: 'background: #f16522; color: #fff; border-right: none; text-align: center; font-weight: 700'
              }
            }
          },
          customRender: (text, row, index) => {
            if (this.list.length !== (index + 1)) {
              return {
                children: text,
                attrs: {
                  style: 'border-bottom: none; font-weight: 700'
                }
              }
            }
            return {
              children: `TỔNG HỌC PHÍ LỘ TRÌNH ${row.uudai ? '(ĐÃ ƯU ĐÃI)' : '(CHƯA ƯU ĐÃI)'}`,
              attrs: {
                style: 'border-top: 1px solid #e8e8e8; font-weight: 700; color: #f16522; text-align: center',
                colSpan: 4
              }
            }
          }
        },
        {
          title: 'Đầu ra',
          dataIndex: 'daura',
          customHeaderCell: (column) => {
            return {
              children: column.text,
              attrs: {
                style: 'background: #f16522; color: #fff; border-right: none; text-align: center; font-weight: 700'
              }
            }
          },
          customRender: (text, row, index) => {
            if (this.list.length !== (index + 1)) {
              return {
                children: text,
                attrs: {
                  style: 'border-bottom: none; text-align: center; font-weight: 700'
                }
              }
            }
            return {
              attrs: {
                colSpan: 0
              }
            }
          }
        },
        {
          title: 'Thời gian',
          dataIndex: 'thoigian',
          customHeaderCell: (column) => {
            return {
              children: column.text,
              attrs: {
                style: 'background: #f16522; color: #fff; border-right: none; text-align: center; font-weight: 700'
              }
            }
          },
          customRender: (text, row, index) => {
            if (this.list.length !== (index + 1)) {
              return {
                children: text,
                attrs: {
                  style: 'border-bottom: none; text-align: center; font-weight: 700'
                }
              }
            }
            return {
              attrs: {
                colSpan: 0
              }
            }
          }
        },
        {
          title: 'Học phí',
          dataIndex: 'hocphi',
          customHeaderCell: (column) => {
            return {
              children: column.text,
              attrs: {
                style: 'background: #f16522; color: #fff; text-align: center; font-weight: 700'
              }
            }
          },
          customRender: (text, row, index) => {
            if (this.list.length !== (index + 1)) {
              return {
                children: text,
                attrs: {
                  style: 'border-bottom: none; text-align: center; font-weight: 700'
                }
              }
            }
            return {
              children: row.tonghocphi,
              attrs: {
                style: 'border-top: 1px solid #e8e8e8; text-align: center; font-weight: 700; color: #f16522;',
                colSpan: 1
              }
            }
          }
        }
      ],
      list: []
    }
  },
  computed: {
    info () {
      return this.$storage.getCookie('userInfo') || {}
    }
  },
  created () {
    this.setList(this.info.location, this.info.level, this.info.ielts)
  },
  mounted () {
    this.$_setToSheet(0, this.info, ['level', 'totalPoint', 'name', 'email', 'sdt', 'ielts', 'address'])
  },
  methods: {
    setList (location, level, ielts) {
      const data = this.dataLevel[location] && this.dataLevel[location][level] && this.dataLevel[location][level].find(o => o.key === ielts)
      this.list = data ? data.list.map((o, i) => { o.key = i + 1; return o }) : []
    },
    backToHome () {
      this.$router.push({ path: `/?source=jolo.edu.vn` })
      // window.location.href = window.location.hostname + '?source=jolo.edu.vn'
    }
  }
}
</script>

<style lang="scss" scoped>
// .main-lotrinh {

// }
.main-modal ::v-deep {
  padding: 0;
  .ant-card-bordered {
    border: unset!important;
  }
  // .body-modal {
  //   padding: 2em;
  // }
}
// .main-body ::v-deep {

// }
.title-info {
  font-size: 1.2em;
  font-weight: 700;
  span {
    color: #f16522;
  }
}
</style>
