<template>
  <div>
    <div class="audio-listening">
      <audio controls>
        <!-- <source src="horse.ogg" type="audio/ogg"> -->
        <source src="/audio/listening_placement_test_audio.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>

    <div v-for="(lt, idx) in listening" :key="idx" style="margin-bottom: 2em">
      <div>
        <h3 style="text-decoration: underline; font-weight: 700">
          {{ lt.title }}
        </h3>
      </div>
      <div>
        <h4 style="font-weight: 700">
          {{ lt.sub1 }}
        </h4>
      </div>
      <div style="font-weight: 700">
        {{ lt.sub2 }}
      </div>
      <div style="font-weight: 700">
        {{ lt.sub3 }}
      </div>
      <div v-for="(al, alIdx) in lt.ansList" :key="alIdx" style="margin: 1em 0">
        <div style="font-weight: 700">
          {{ al.subTitle }}
        </div>
        <div style="font-weight: 700">
          {{ al.q }}
        </div>
        <a-row>
          <a-col :span="1" v-if="al.num">
            {{ al.num }}.
          </a-col>
          <a-col :span="23">
            <div v-if="al.comp">
              <FillInTheBlanks v-for="(a, aIdx) in al.ans" :key="aIdx" :sentence="a" @handleBlank="handleBlank($event, idx, aIdx)" style="margin: 0.5em 0" />
            </div>
            <div v-else>
              <a-row>
                <a-col :span="24" v-for="(a, aIdx) in al.ans" :key="aIdx">
                  <a-checkbox v-model="a.checked" @change="ansChecked($event.target.checked, a, al, idx, alIdx, aIdx)">
                    {{ a.c }}
                  </a-checkbox>
                </a-col>
              </a-row>
            </div>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>

<script>
// import _debounce from 'lodash/debounce'
import listening from '~/json/listening.json'
import FillInTheBlanks from '~/components/items/FillInTheBlanks'

export default {
  components: {
    FillInTheBlanks
  },
  data () {
    return {
      listening,
      fillBlanks: [],
      checkKeys: []
    }
  },
  methods: {
    ansChecked (checked, a, al, idx, alIdx, aIdx) {
      const key = `${idx}${alIdx}`
      al.ans.forEach((el, idx) => {
        this.$set(el, 'checked', idx === aIdx)
      })

      if (a.r) {
        if (checked) {
          if (!this.checkKeys.includes(key)) {
            this.checkKeys.push(key)
            this.setPoint(+1)
            // this.$store.commit('SET_POINT', +1)
          }
        } else {
          const keyExist = this.checkKeys.findIndex(o => o === key)
          if (keyExist >= 0) {
            this.checkKeys.splice(keyExist, 1)
            this.setPoint(-1)
          }
        }
      } else {
        const keyExist = this.checkKeys.findIndex(o => o === key)
        if (keyExist >= 0) {
          this.checkKeys.splice(keyExist, 1)
          this.setPoint(-1)
        }
      }
    },
    handleBlank (e, keyListening, keyAnsList) {
      const key = `${keyListening}${keyAnsList}${e.keyBlank}`
      if (e.hasTextInput && e.r) {
        !this.fillBlanks.includes(key) && this.fillBlanks.push(key)
        this.setPoint(+1)
      } else {
        const keyExist = this.fillBlanks.findIndex(o => o === key)
        if (keyExist >= 0) {
          this.fillBlanks.splice(keyExist, 1)
          this.setPoint(-1)
        }
      }
    },
    setPoint (p) {
      this.$emit('setPoint', p)
    }
  }
}
</script>

<style lang="scss" scoped>
.audio-listening {
  text-align: center;
}
</style>
