<template>
  <div>
    <div v-for="(r, idx) in reading" :key="idx">
      <div v-html="r.html" />
      <div style="margin: 5px 0;font-weight: 700;">
        {{ r.sub1 }}
      </div>
      <div v-if="r.ansList">
        <div v-for="(al, alIdx) in r.ansList" :key="alIdx" style="margin: 10px 0">
          <div>
            <h4>{{ al.q }}</h4>
          </div>
          <a-row>
            <a-col :span="24" v-for="(a, aIdx) in al.ans" :key="aIdx">
              <a-checkbox v-model="a.checked" @change="ansChecked($event.target.checked, a, al, idx, alIdx, aIdx)">
                {{ a.c }}
              </a-checkbox>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import reading from '~/json/reading.json'
export default {
  data () {
    return {
      reading,
      checkKeys: []
    }
  },
  methods: {
    ansChecked (checked, a, al, idx, alIdx, aIdx) {
      const key = `${idx}${alIdx}`
      al.ans.forEach((el, idx) => {
        this.$set(el, 'checked', idx === aIdx)
      })

      if (a.r) {
        if (checked) {
          if (!this.checkKeys.includes(key)) {
            this.checkKeys.push(key)
            this.setPoint(+1)
          }
        } else {
          const keyExist = this.checkKeys.findIndex(o => o === key)
          if (keyExist >= 0) {
            this.checkKeys.splice(keyExist, 1)
            this.setPoint(-1)
          }
        }
      } else {
        const keyExist = this.checkKeys.findIndex(o => o === key)
        if (keyExist >= 0) {
          this.checkKeys.splice(keyExist, 1)
          this.setPoint(-1)
        }
      }
    },
    setPoint (p) {
      this.$emit('setPoint', p)
    }
  }
}
</script>

<style lang="scss" scoped>
.answers{
  margin: 2em 0;
}
</style>
