<template>
  <div class="main-btn">
    <button @click="onClick">
      <slot name="before" />
      <slot />
    </button>
    <!-- <nuxt-link :to="to">
      <slot name="before" />
      <slot />
    </nuxt-link> -->
  </div>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      default: ''
    }
  },
  methods: {
    onClick (e) {
      // console.log(e)
      if (this.to) {
        this.$router.push({ path: this.to })
        return
      }
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="scss" scoped>
.main-btn{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: #ff7f12;
  color: white!important;
  border-radius: 6px;
  padding: 4px 6px;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  button:focus {outline:0;}
}
</style>
