<template>
  <div class="timer">
    <span class="time-title">Thời gian</span>
    <span class="vertical-line" />
    <span>{{ minutes | twoDigits }}</span>
    <span>:</span>
    <span>{{ seconds | twoDigits }}</span>
  </div>
</template>

<script>
export default {
  filters: {
    twoDigits (num) {
      if (num < 10) {
        return '0' + num
      } else {
        return num
      }
    }
  },
  data () {
    return {
    // message: default_title,
      minutes: 30,
      seconds: 0,
      interval: null,
      showContinue: true,
      showReset: false
    }
  },
  watch: {
    seconds (v) {
      const timeleft = (this.minutes * 60) + this.seconds
      const percent = ((timeleft / (30 * 60)) * 100).toFixed(1)
      this.$emit('handleTimeDown', { timeleft, percent })
    }
  },
  mounted () {
    this.startTimer()
  },
  methods: {
    startTimer () {
      this.showContinue = false
      this.showReset = true
      // this.message = 'Greatness is within sight!!'
      this.interval = setInterval(() => {
        if (this.seconds === 0) {
          this.seconds = 59
          this.minutes--
        } else {
          this.seconds--
        }

        if (this.minutes === 0 && this.seconds === 0) {
          this.pauseTimer()
        }
      }, 1000)
    },
    pauseTimer () {
      this.showReset = true
      this.showContinue = true
      // this.message = 'Never quit, keep going!!'
      clearInterval(this.interval)
    },
    resetTimer () {
      this.showContinue = true
      this.showReset = true
      this.minutes = 30
      this.seconds = 0
      // this.message = default_title
    }
  }
}
</script>

<style lang="scss" scoped>
.timer {
  color: #fff;
  font-size: 2.4em;
  line-height: 1;
  background: #f16522;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
  .time-title{
    font-size: 0.5em;
  }
}
.vertical-line {
  border-left: 3px solid #fff;
  height: 30px;
  margin: 0 6px
}
</style>
