<template>
  <div>
    <div>
      <!-- {{ sentenceParts }} -->
    </div>
    <span v-for="(part, index) in sentenceParts" :key="index">
      <input
        v-if="part.input"
        v-model="part.guess"
        :aria-colindex="index"
        @change="partIsCorrect(part, index)"
        style="margin: 0.2em 0"
      >
      <span v-else>{{ part.text }}</span>
    </span>
    <!-- <p v-if="allCorrect">
      All done!
    </p> -->
  </div>
</template>

<script>
export default {
  props: {
    sentence: {
      type: String,
      default: null
    }
  },

  data () {
    return {
      sentenceParts: []
    }
  },

  // computed: {
  //   allCorrect () {
  //     return this.sentenceParts.every(this.partIsCorrect)
  //   }
  // },

  watch: {
    sentence: {
      immediate: true,
      handler: 'reset'
    }
  },

  methods: {
    partIsCorrect (part, idx) {
      const text = new RegExp(part.text)
      this.$emit('handleBlank', { keyBlank: idx, r: text.test(part.guess), hasTextInput: part.input && !!part.guess })
      return !part.input || text.test(part.guess)
    },

    reset () {
      const re = /(\[[^\]]*\])/

      // The filter removes empty strings
      const parts = this.sentence.split(re).filter(text => text)
      // console.log(parts)
      this.sentenceParts = parts.map((segment, idx) => {
        const isInput = re.test(segment)

        return {
          guess: '',
          input: isInput,
          text: isInput ? segment.slice(1, -1) : segment
        }
      })
    }
  }
}
</script>
