<template>
  <div>
    {{ items }}
    <table>
      <tr>
        <th v-for="(h, idx) in header" :key="idx">
          {{ h.text }}
        </th>
      </tr>
      <tr v-for="(item, idx) in items" :key="idx">
        <th v-for="(h, hidx) in header" :key="hidx">
          {{ item[h.value] }}
        </th>
      </tr>
      <tr>
        <th colspan="4">
          TỔNG HỌC PHÍ LỘ TRÌNH
        </th>
        <th>10.000.000</th>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      header: [
        { text: 'STT', value: 'key' },
        { text: 'KHÓA HỌC', value: 'khoahoc' },
        { text: 'ĐẦU RA', value: 'daura' },
        { text: 'THỜI GIAN', value: 'thoigian' },
        { text: 'HỌC PHÍ', value: 'hocphi' }
      ]
    }
  }
}
</script>
